/*para hacer que el icono menu este en el medio en dispositivos pequeños */ 
.navbar .container-fluid {
    justify-content: center;
}

.col-form-label{
    color: whitesmoke;
}

.btn-primary{
    box-shadow:inset;
}

.bi-gear, .bi-people{
    font-size: 3rem;
    color: black;
}

.collapse, .navbar-collapse{
    justify-content: space-between;
}


.ventana__emergente{
    display: none;
}

.ver{
    display: block;
}
.ventana__contenedor{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    background-color: black;
    padding-bottom: 1rem;
}   
.boton__cerrar{
    color: white;
    font-size: 2rem;
    float: right;
    font-weight: bold;    
}
.boton__cerrar:hover{
    cursor: pointer;
}